In [2]:
%load_ext autoreload
%autoreload 2

## Initial Imports

In [3]:
from classipy_datagen import GBQDataset, KaggleDataset, merge_data
import pandas as pd

## Gather Data

### GBQ DATA

In [ ]:
# g = GBQDataset()
# gbq_df = g.download_datasets()
# gbq_df.head()

### Kaggle DATA

In [ ]:
# k = KaggleDataset(1000)
# kaggle_df = k.download_datasets()
# kaggle_df.head()

## Sanity Checks

In [10]:
gbq_df = pd.read_json('../raw_data/gbq_data.json')
gbq_df.shape

(2513, 15)

In [9]:
kaggle_df = pd.read_json('../raw_data/kaggle_data.json')
kaggle_df.shape

(17799, 15)

In [21]:
combined_df = pd.concat([kaggle_df,gbq_df], axis=0)

## Merge with Labeled Data

In [23]:
labeled_df = pd.read_csv('../raw_data/merged_labeled_data.csv')

In [24]:
labeled_df.head()

,dataset_name,table_name,column_name,label,column_values,column_values_unique,nunique_values,n_values,mean,std,median,skew,kurt,shapiro_wilk_test
0,nareshbhat/health-care-data-set-on-heart-attac...,heart.csv,thalach,int,"['150, 187, 172, 178, 163, 148, 153, 173, 162,...",[150 187 172 178 163 148 153 173 162 174 160 1...,91.0,303.0,149.6468647,22.905161,153.00000,-0.537410,-0.061970,0.000066
1,kimjihoo/coronavirusdataset,SearchTrend.csv,coronavirus,float,"['0.00736, 0.00436, 0.00927, 0.01181, 0.00563,...",[7.360000e-03 4.360000e-03 9.270000e-03 1.1810...,326.0,1000.0,2.0906601,10.010559,0.00881,6.305825,42.379589,0.000000
2,kimjihoo/coronavirusdataset,Weather.csv,province,cat-multi,"['Daegu, Chungcheongbuk-do, Incheon, Ulsan, Bu...",['Daegu' 'Chungcheongbuk-do' 'Incheon' 'Ulsan'...,16.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
3,kimjihoo/coronavirusdataset,PatientInfo.csv,age,cat-multi,"['50s, 30s, 40s, nan, nan, 10s, 20s, 20s, 50s,...",['50s' '30s' '40s' nan '10s' '20s' '70s' '80s'...,10.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN
4,kimjihoo/coronavirusdataset,Policy.csv,policy_id,int,"['1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1...",[ 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 ...,61.0,61.0,31.0,17.752934,31.00000,0.000000,-1.200000,0.025660

In [26]:
merged_labeled_data = merge_data(labeled_df,combined_df)

In [29]:
merged_labeled_data.to_json('../raw_data/labeled_data.json')

In [30]:
merged_labeled_data.to_csv('../raw_data/labeled_data.csv')